<div class = "d-flex align-items-center justify-content-center">
  <h1>Tweets</h1>
</div>

Our blog has <%= Tweet.public_count %> tweets and counting!

  <ul>
    <% @tweets.each do |tweet| %>
      <% unless tweet.archived? %>
        <li>
          <%= link_to tweet.title, tweet %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "New Tweet", new_tweet_path %>
